@model IEnumerable<HorizonDeviceLogger.Models.DTO.DeviceTypeDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="pull-left">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">DeviceType</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid pull-right">           
                <div class="card">
                    <div class="card-header">
                        All Device Types
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <p>
                                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                                </p>
                            </div>
                            <div class="row">
                                <table id="dtTableDeviceTypes" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sr.No.
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DeviceTypeName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Comments)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Active)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreatedDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UpdatedDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            int count = 0;
                                            foreach (var item in Model)
                                            {
                                                count = count+1;
                                            <tr>
                                                <td>@count</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DeviceTypeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comments)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Active)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                                </td>
                                                <td>
                                                    <a href="#"><span class="Pencil"></span></a>&nbsp; | &nbsp;
                                                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                                                </td>
                                            </tr>
                                        }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>                    
        </div>
    </section>
</div>

@section Scripts
{   
    <script>
        $(document).ready(function () {            
            $('#dtTableDeviceTypes').DataTable({
                "scrollX": true
            });
        });
    </script>
}
